<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <!-- <% include ../partials/nav.ejs %> -->

<div class="jumbotron text-center">
  <img src="images/desert.jpg" alt="logo">
  </img> <!-- row -->
   <div class="alert alert-info text-center" role="alert">
     Coming soon.
  </div>
</div>


</body>
</html>
