<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Pale Aura Pools</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <!-- Header -->
  <% include ../partials/header.ejs %>
</head>

<body>
  <!-- Nav Bar -->
  <% include ../partials/nav.ejs %>
    <!-- modify this file to edit navbar -->

    <div id="index-banner" class="parallax-container">
      <div class="section no-pad-bot">
        <div class="container">
          <!-- <h1 class="header center purple-text text-lighten-2">Pale Aura Pools</h1> -->
          <!-- <div class="row center">
            <h5 class="header col s12 light" style="color:gold;">

              <p>If you don't find a way to make money while you sleep you will work until you die.
                <footer></footer>
                <cite>Warren Buffett</cite>
                </footer>
              </p>

            </h5>
          </div> -->
          <div class="row center">
            <a href="http://paleaurapools.com" id="download-button" class="btn-large waves-effect waves-light purple lighten-1">Pro user page</a>
          </div>
          <br>
          <br>
        </div>
      </div>
      <div class="parallax">
        <img src="images/background1.jpg" alt="Unsplashed background img 1">
      </div>
    </div>


    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text">
                <i class="material-icons">attach_money</i>
              </h2>
              <h5 class="center">What is this?</h5>

              <p class="light">
                Cryptocurrency mining converts spare computational power into real money. Think of it as your computer solving complicated
                math problems when it's not being used. (Remember SETI?) </br>
                You will earn real world money just for keeping software running in the background
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text">
                <i class="material-icons">lightbulb_outline</i>
              </h2>
              <h5 class="center">Why pool?</h5>
              <p class="light">
                Solving these problems is based on chance. By all working together, we have a much higher chance to solve each block. </br>
                Our small team of dedicated Cryptocurrency experts actively choose which of the many Cryptocurrencies to be mining, optimizing
                profit for all of us!
              </p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text">
                <i class="material-icons">show_chart</i>
              </h2>
              <h5 class="center">Okay, what's in it for you?</h5>
              <p class="light">
                We actively manage the software, removing the complications for you and picking the best mining currency. </br>
                You never put any money up and we never have access to your earnings. We do take a small cut, 1% or less, to keep this running,
                but this just means that we're more interested in earning as much as possible for you!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="parallax-container valign-wrapper">

      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">

            <h5 class="header col s12 light" style="color:gold;"></h5>
          </div>
        </div>

      </div>

      <script type="text/javascript">
        baseUrl = "https://widgets.cryptocompare.com/";
        var scripts = document.getElementsByTagName("script");
        var embedder = scripts[scripts.length - 1];
        (function () {
          var appName = encodeURIComponent(window.location.hostname);
          if (appName == "") {
            appName = "local";
          }
          var s = document.createElement("script");
          s.type = "text/javascript";
          s.async = true;
          var theUrl = baseUrl + 'serve/v1/coin/feed?fsym=BTC&tsym=USD&feedType=CoinTelegraph';
          s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
          embedder.parentNode.appendChild(s);
        })();
      </script>
      <div class="parallax">

        <img src="images/background2.jpg" alt="Unsplashed background img 2">
      </div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <h3>
              <i class="mdi-content-send brown-text"></i>
            </h3>
            <h3>Our guides for getting started</h3>
            <p class="left-align light">
              <centre>
                <table>
                  <!-- Content generator functions stored in init.js -->
                  <tr>
                    <td>
                      <input type="image" src="/images/icons/windows.png" width=50% onclick="guideWindows()">
                    </td>
                    <td>
                      <input type="image" src='images/icons/apple.png' width=50% onclick="guideOSx()" />
                    </td>
                    <td>
                      <input type="image" src='images/icons/linux.png' width=50% onclick="guideLinux()" />
                    </td>
                  </tr>
              </centre>
              </table>
              </br>
              <a href="http://paleaurapools.com" id="download-button" class="btn-large waves-effect waves-light purple lighten-1">I know what I'm doing.</a>
              <br/>
              <div id="guide"></div>
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- 
    <div class="parallax-container valign-wrapper">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light" style="color:gold;">A pool for the miners who want an edge on the competition.</h5>
          </div>
        </div>
      </div>
      <div class="parallax">
        <img src="images/background3.jpg" alt="Unsplashed background img 3">
      </div>
    </div> -->


    <!-- Footer -->
    <% include ../partials/footer.ejs %>

      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="js/materialize.js"></script>
      <script src="js/init.js"></script>
</body>

</html>